<!DOCTYPE html>
<html>
  <head>
    <title>Songcollab</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src='http://localhost:8080/bundle.js';'></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
