<!DOCTYPE html>
<html>
  <head>
    <title>Songcollab</title>
    <%= csrf_meta_tags %>

    <script type="text/javascript" src='http://localhost:8080/bundle.js';'></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
